NODE_ENV=dev
STAGE=dev
JWT_SECRET=change-me

AWS_REGION=eu-central-1
AWS_DEFAULT_REGION=eu-central-1
AWS_ACCOUNT_ID=000000000000
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

LOCAL_AWS_ENDPOINT=http://localhost:4566
SQS_ENDPOINT=http://localhost:4566
SNS_ENDPOINT=http://localhost:4566
EVENTBRIDGE_ENDPOINT=http://localhost:4566
DYNAMODB_ENDPOINT=http://localhost:4566
DRY_RUN=false

USER_EVENTS_QUEUE_NAME=user-events
USER_EVENTS_QUEUE_URL=http://localhost:4566/000000000000/user-events
USER_EVENTS_QUEUE_ARN=arn:aws:sqs:eu-central-1:000000000000:user-events
USER_EVENTS_TOPIC_NAME=user-events
USER_EVENTS_TOPIC_ARN=arn:aws:sns:eu-central-1:000000000000:user-events
USER_EVENTS_EVENT_BUS_NAME=user-events
USER_EVENTS_EVENT_BUS_ARN=arn:aws:events:eu-central-1:000000000000:event-bus/user-events
USERS_TABLE_NAME=users

LOCAL_SQS_EVENT_HANDLERS=user-events=testHandleQueueMessage
LOCAL_SNS_EVENT_HANDLERS=user-events=testHandleTopicMessage
LOCAL_EVENTBRIDGE_EVENT_HANDLERS=user-events:user-service:user.events.test=testHandleEventBridgeEvent
